h1 {
  /* SELECIONAR APÓLICE */

  position: absolute;
  width: 353px;
  height: 39px;
  left: 544px;
  top: 182px;

  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  color: #000000;
}
